.add-rem-root {
  width: 22rem;
  min-height: 28rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fffafa;
}

#add-rem-title {
  color: #2b74d0;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

#reminder[type="text"] {
  font-size: 1.5rem;
}

.time-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-input > .input-field {
  flex-basis: 50%;
}

.time-input > .input-field:last-child {
  margin-left: 0.5rem;
}

input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.2s all;
  width: 100%;
  background-color: #fffafa;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #2d87e2;
}

label {
  margin-bottom: 0.2rem;
  color: #555;
}

.input-error {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 0;
  color: rgba(255, 0, 0, 0.8);
}
